* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #2c1f16;
}

header{
    font-family: 'PT Serif', serif;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* fundo preto transparente */
    position: absolute;
    z-index: 10;
    color: #cab8b2;
}
.top-bar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between; /* Logo à esquerda, menu centro e botão direita */
    top: 0;
    margin: 0 20px;
}
.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.nome{
    width: 180px;
    height: 120px;
    margin-left: 100px;
}
nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    padding: 10px;
    display: flex;
}
#menu-header ul{
    list-style: none;
    display: flex;
    gap: 2rem;

}
#menu-header ul li a {
    display: inline-block;
    text-decoration: none;
    color: #cab8b2;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    transition: transform .2s ease;
}
#menu-header a:hover{
    transform: scale(1.2);
    color: #96877d;
}
.btn-reserva{
    font-family: 'PT Serif', serif;
    padding: 10px 20px;
    color: #d9d9d9;
    background: #bc0d0d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    text-transform: uppercase;
    position: relative;
    transition: transform .3s ease;
}
.btn-reserva:hover{
    color: #d9d9d9;
    background: #9a0303;
    transform: scale(1.05);
}

.step {
  top: 0;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  opacity: 0;
  transition: 0.5s ease;
  object-fit: cover;
  z-index: 0;
}

.step.active {
  opacity: 1;
}

#s1{
  opacity: 1;
}

/* Timeline */
.timeline {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.line {
  position: absolute;
  width: 3px;
  height: 100%;
  background: #b8a69b;
  left: 50%;
  transform: translateX(-50%);
}

/* Bolinhas */
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #b8a69b;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}

.circle.active {
  background: #573737;
  transform: scale(1.25);
  font-size: .9rem;
}

/* Tooltip */
.circle::after {
  content: attr(data-title);
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: #cab8b2;
  color: #573737;
  padding: 6px 10px;
  font-size: 1rem;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-family: 'PT Serif', serif;
}

.circle.active::after{
  background: #573737;
  color: #cab8b2;
}

.circle:hover::after {
  opacity: 1;
}

.content{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content div{
  position: absolute;
  z-index: 1;
}

.content img{
  width: 100% ;
  height: 100vh;
  z-index: -1;
}   

.gradiente{
  background: linear-gradient(to top, rgba(27, 19, 16, 0.9), rgba(26, 22, 16, 0.2), rgba(26, 22, 16, 0.2));
  width: 100%;
  height: 100vh;
}

.date-time{
  background-color: rgba(202, 184, 178, 0.61);
  width: 14%;
  height: 28%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: 'PT Serif', serif; 
  font-size: 20px;
  z-index: 0;
  text-align: center;
}

.in-circle{
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: rgb(224, 211, 206);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #573737;  
  flex-flow: column;
}

.text{
  bottom: 30px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 25px;
  font-weight: 500;
  color: #b8a69b;
  margin: 0 8vw;
}